.sidebar{
    width: 300px;
    height: 100vh;
    background-color: white;
    border-left: 1px solid lightgray;
    position: fixed;
    top: 0;
    transform: translateX(100%);
    transition: 0.5s;
    z-index: 1000;

    .top-sidebar{
        width: 100%;
        height: 7%;

        span{
            width: 20%;
            height: 100%;
            display: flex;
            align-items: center;
            justify-content: center;
            cursor: pointer;
        }
    }
    .center-sidebar{
        width: 100%;
        height: 93%;

        ul{
            height: 100%;

            li{
                height: 40px;
                list-style: none;
                display: flex;
                align-items: center;

                i{
                    margin-right: 20px;
                }
            }

            li:hover{
                background-color: rgba(111, 44, 167, 0.607);
                color: white;
                cursor: pointer;
            }

            p{
                margin-bottom: 10px;
                margin-right: 5px;
            }
        }
    }
}
.sidebar.open{
    transform: translateX(0);
}







